---
import Layout from '../layouts/Layout.astro';
import App from '../layouts/App.vue';
import Intro from '../components/Intro.vue';
import radios from '../data/radios.json';
---

<Layout title="Radio Reis | Beluister radio's uit verschillende landen">
	<main>
		<App data={radios} client:load/>
	</main>
</Layout>
